html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    border: 3px solid white;
}

/*? variable */
:root {
    /*! Color's */
    --header-light: #e0eafc;
    --header-dark: #b1d2ff;

    /*! gradient's  */
    --header-bg: linear-gradient(180deg, var(--header-light) 20%, var(--header-dark) 80%);
    --cart-detail-bg: linear-gradient(0deg, var(--header-light) 20%, var(--header-dark) 80%);
    --main-bg: linear-gradient(90deg, rgba(177, 209, 255, 0.5) 0%, #e0eafc00 50%, rgba(177, 209, 255, 0.5) 100%);
    --aside-bg: linear-gradient(90deg, #89f7fe 0%, #66a6ff 100%);
    --live-change-bg: rgb(30, 30, 30);

    /*! Font's  */
    --logo-font: 'Rampart One', cursive;
    --text-font: 'Rubik', sans-serif;
    --a-font: 'Tilt Warp', cursive;
}

.type-btn {
    color: red;
    margin: 10px 0;
    padding: 3px 5px;
    font-weight: 600;
}

/*! |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/*? Header *********************************************/
header {
    position: fixed;
    justify-content: space-between;
    display: flex;
    align-items: center;
    top: 0;
    width: 100vw;
    padding: 10px 100px;
    background: var(--header-bg);
    box-shadow: inset 0 0 5px gray;
    z-index: 1;
}

.logo>img {
    width: 40px;
    height: 40px;
    box-shadow: 0 0 5px black;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.logo>span {
    font-family: var(--logo-font);
    font-weight: 600;
    margin: 0 0 0 5px;
}

.logo>span>span {
    color: red;
}

header>nav>ul {
    display: flex;
}

header>nav>ul>li {
    padding: 0 50px;
    list-style: none;
}

header>nav>ul>li>a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-family: var(--a-font);
}

/*! cart */
.cart-icon>i {
    font-size: 30px;
    transition: .2s;
    cursor: pointer;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.cart-icon>i:hover {
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
}

.cart-icon>i:active {
    text-shadow: 0 0 3px black;
}

.cart-detail {
    position: absolute;
    height: 80vh;
    width: 80vw;
    right: 0;
    top: -10000px;
    z-index: -10;
    background: var(--cart-detail-bg);
    padding: 20px 10px;
    box-shadow: inset 0 0 5px gray;
    box-shadow: 0 0 10px black;
    overflow-y: auto;
    transition: .8s;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -ms-transition: .8s;
    -o-transition: .8s;
    border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -ms-border-radius: 10px 0 0 10px;
    -o-border-radius: 10px 0 0 10px;
}

.cart-response {
    top: 70px;
}

.cart-product {
    border: 2px solid black;
    margin: 20px 0;
    padding: 10px;
}

.cart-img>img {
    width: 10vw;
    margin: 10px 0;
}

/*! ||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/*? main */
main {
    display: flex;
    /* background: var(--main-bg); */
    background-color: var(--live-change-bg);
    padding: 60px 0 0 0;
}

/* ? aside */
.aside {
    position: sticky;
    top: 4vw;
    width: 15vw;
    height: 100vh;
    background: var(--aside-bg);
}

.aside-arrow {
    display: none;
}

.aside-detail {
    text-align: center;
    font-family: var(--a-font);
}

.aside-detail>h3 {
    background-color: white;
    margin: 0 0 10px 0;
    padding: 10px 0;

}

.aside-detail>div {
    margin: 5px 0;
}

.aside-detail>div>a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.aside-detail>div>a:hover {
    text-shadow: 0 0 2px black;
}

.aside-detail>div>a:active {
    color: blue;
}

/*? Product */
.product-container {
    width: 90vw;
    padding: 12px 0;
    border-left: 2px solid black;
}

.product {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.product>div {
    background-color: white;
    box-shadow: inset 0 0 5px black;
    margin: 10px 10px;
    padding: 1vw;
}

.product>div>div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.main-image>img {
    width: 12vw;
    height: 12vw;
}

.title {
    margin: 5px 0;
    font-family: var(--text-font);
    font-size: 2.5vw;
}

.price>span:first-child {
    font-weight: 600;
    font-size: 20px;
    margin: 0 5px;
}

.price>span:nth-child(2) {
    color: red;
    font-weight: 600;
}

.price>span:last-child {
    display: block;
    margin: 0 5px;
    color: gray;
    text-decoration: line-through;
}

.cart-price {
    font-weight: 600;
}

/*! |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||  */
/*? footer */
footer {
    height: 200px;
    background-color: green;
}

/*! ||||||||||||||||||||||||||||||||||||||||||||||||| */
/*? Responsive */

@media screen and (max-width: 999px) {
    .product {
        grid-template-columns: repeat(2, auto);
    }

    .main-image>img {
        width: 15vw;
        height: 15vw;
    }

    .cart-img>img {
        width: 20vw;
    }
}

/*! Here is aside response  */
@media screen and (max-width:850px) {
    .product-container {
        width: 100%;
        border: none;
    }

    .aside {
        position: fixed;
        background: var(--aside-bg);
        height: 60vh;
        width: 150px;
        top: 150px;
        left: -1000px;
        border-radius: 0 20px 50px 0;
        box-shadow: 0 0 10px black;
        overflow: auto;
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
        -webkit-border-radius: 0 20px 50px 0;
        -moz-border-radius: 0 20px 50px 0;
        -ms-border-radius: 0 20px 50px 0;
        -o-border-radius: 0 20px 50px 0;
    }

    .aside-detail {
        margin: 0 0 30px 0;
    }

    .aside-detail>h3 {
        border-radius: 0 20px 0 0;
        -webkit-border-radius: 0 20px 0 0;
        -moz-border-radius: 0 20px 0 0;
        -ms-border-radius: 0 20px 0 0;
        -o-border-radius: 0 20px 0 0;
    }

    .aside-detail>div {
        margin: 5px 0;
    }

    .aside-detail>div>a {
        text-decoration: none;
        color: black;
        font-weight: 600;
    }

    .aside-detail>div>a:active {
        color: blue;
    }

    .aside-arrow {
        position: fixed;
        top: 100px;
        left: -1px;
        display: block;
        font-size: 50px;
        text-shadow: 0 0 5px black;
        color: lightblue;
    }

    .aside-arrow:active {
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
    }

    .aside-response {
        left: 0px;
    }

    header {
        padding: 5px 50px;
    }

    header>nav>ul>li {
        padding: 0 0 0 50px;
    }
}

@media screen and (max-width:650px) {
    header>nav>ul>li {
        padding: 0 0 0 10px;
    }

    .title {
        font-size: 3vw;
    }
}

@media screen and (max-width:425px) {
    .product {
        grid-template-columns: repeat(1, auto);
    }

    .main-image>img {
        width: 35vw;
        height: 35vw;
    }

    header {
        padding: 5px 25px;
    }

    header>nav>ul>li {
        padding: 0 0 0 25px;
    }

    .logo>span {
        display: none;
    }

    .title {
        font-size: 4vw;
    }
}